<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SafeFood</title>
<link href="./css/bootstrap.css" rel="stylesheet">
<link href="./css/login.css" rel="stylesheet">
<link href="./css/headerFooter.css" rel="stylesheet">
<script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./js/bootstrap.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Find Password</h4>
                    </div>
                    <form action="" method="POST" @submit.prevent="FindPW">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>ID</label>
                                <input type="text" v-model="fid" class="form-control" placeholder="ID">
                            </div>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" v-model="fname" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" v-model="fphone" class="form-control" placeholder="Phone">
                            </div>
                            <div class="form-group" v-if="fpw != '' ">
                                <label>find Password</label>
                                <input type="text" v-model="fpw" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Find</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- header -->
		<header class="navbar-inverse">
			<div class="nav navbar">
				<ul class="nav navbar-nav">
					<li><a href="index.html">SafeFood</a></li>
					<li><a href="notice.html">공지 사항</a></li>
					<li><a href="foodList.html">상품 정보</a></li>
					<li><a href="bestFood.html">베스트 섭취 정보</a></li>
					<li><a href="QnAList.html">QnA</a></li>
					<li v-if="loginOK != '' "><a href="intake.html">내 섭취 정보</a></li>
					<li v-if="loginOK != '' "><a href="#">예상 섭취 정보</a></li>
				</ul>
				<span class="navBT">
                    <button  v-if="loginOK != '' " @click="logout" class="btn btn-danger btn-sm">Logout</button>
					<a href="login.html" v-else>				  <input type="button" class="btn btn-primary btn-sm" value="Log in" /></a>
					<a href="mypage.html" v-if="loginOK != '' "><input type="button" class="btn btn-primary btn-sm" value="회원 정보" /></a>
					<a href="signup.html" v-else>				  <input type="button" class="btn btn-primary btn-sm" value="Sign up" /></a>				
				</span>
			</div>
        </header>
        
        <div id="loginBox">
            <form action="" method="POST" @submit.prevent="loginAction">
                <h3>Login</h3> <br>
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" v-model="id" class="form-control" placeholder="이메일을 입력하세요">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" v-model="pw" name="pw" class="form-control" placeholder="암호">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
                <a type="button" id="myMbt" class="btn btn-danger" @click="mymodal">FindPW</a>
            </form>
        </div>
        
        <footer class="navbar-inverse">
            <h3>Find Us</h3>
            <ul class="nav">
                <li><span class="glyphicon glyphicon-map-marker"></span> (SSAFY) 서울시 강남구 테헤란로 멀티스퀘어</li>
                <li><span class="glyphicon glyphicon-earphone"></span> 1234-5678</li>
                <li><span class="glyphicon glyphicon-envelope"></span> admin@ssafy.com</li>
            </ul>
        </footer>
    </div>
     
    <!-- vue -->
	<script>
	new Vue({
		el:'#app',
		data (){
			return{
				loginOK : '',
				mgr : false,
                id : '',
                pw : '',
                fid : '',
                fname : '',
                fphone : '',
                fpw : '',
                serverURL : "http://08416c4a.ngrok.io"
			}
		},
		methods: {
			loginAction : function(){
                if(this.id == '') { alert('Please check your ID'); return; }
                if(this.pw == '') { alert('Please check your PW'); return; }
                
                axios.post(this.serverURL+'/ssafyvue/api/loginAction', {
                    id : this.id,
                    pw : this.pw
                }).then(function(response){
                    if(response.data.state=='succ'){
                        localStorage.setItem('sessionInfo', response.data.name);
                        if(response.data.name == 'admin'){
                            this.mgr = 1;
                        }
                        alert('login Success');
                        location.href="./index.html";
                    }
                    else{
                        alert('login fail');
                    }
                })
            },
            logout : function(){
                localStorage.removeItem('sessionInfo');
                this.loginOK = '';
                this.mgr = false;
                location.href="./index.html"
            },
            mymodal : function(){
                 $("#myModal").modal();
            },
            FindPW : function(){
                if(this.fid == '') { alert('Please check your ID'); return; }
                if(this.fname == '') { alert('Please check your NAME'); return; }
                if(this.fphone == '') { alert('Please check your PHONE'); return; }
                
                axios.post(this.serverURL+'/ssafyvue/api/findPassword', {
                    mname : this.fname,
                    mage : "0",
                    mphone : this.fphone,
                    id : this.fid,
                    pw : '' 
                }).then(function(response){
                    if(response.data != ''){
                        alert("Password is " + response.data);
                    }
                    else{
                        alert("not Found");
                    }
                })
            }
		},
		mounted(){
            if(localStorage.getItem('sessionInfo') != null){
                this.loginOK = localStorage.getItem('sessionInfo');
            }
		}
    });
	</script>
</body>
</html>